In [73]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [74]:
in_file_name = '../../data/linear_regression_test_data.csv'
data_in_df = pd.read_csv(in_file_name)

data_in_df.head()

          x         y  y_theoretical
0 -1.919126  2.420126       2.121310
1 -1.715856  2.385185       2.426216
2 -1.651483  2.585389       2.522776
3 -0.466234  4.129830       4.300649
4 -0.305381  4.031331       4.541929

In [75]:
print(data_in_df.shape)

(20, 3)

In [76]:
data_normalized_1_df = pd.DataFrame(StandardScaler().fit_transform(data_in_df), index=data_in_df.index, columns=data_in_df.columns)
data_normalized_1_df.head()

          x         y  y_theoretical
0 -2.034453 -1.868396      -2.034453
1 -1.850274 -1.889659      -1.850274
2 -1.791947 -1.767830      -1.791947
3 -0.718022 -0.828010      -0.718022
4 -0.572277 -0.887948      -0.572277

In [77]:
mean_series = data_in_df.mean()
mean_df = mean_series.to_frame().T
mean_df
# mean = pd.DataFrame(mean_series, columns=data_in_df.columns)

          x         y  y_theoretical
0  0.326219  5.490528       5.489329

In [78]:
mean_df = pd.concat([mean_df] * data_in_df.shape[0], axis=0, ignore_index=True)
mean_df.set_index(data_in_df.index, inplace=True)
mean_df.head()

          x         y  y_theoretical
0  0.326219  5.490528       5.489329
1  0.326219  5.490528       5.489329
2  0.326219  5.490528       5.489329
3  0.326219  5.490528       5.489329
4  0.326219  5.490528       5.489329

In [79]:
mean_df.shape

(20, 3)

In [80]:
std_series = data_in_df.std()
std_df = std_series.to_frame().T
std_df

          x         y  y_theoretical
0  1.132332  1.686026       1.698498

In [81]:
std_df = pd.concat([std_df] * data_in_df.shape[0], axis=0, ignore_index=True)
std_df.head()

          x         y  y_theoretical
0  1.132332  1.686026       1.698498
1  1.132332  1.686026       1.698498
2  1.132332  1.686026       1.698498
3  1.132332  1.686026       1.698498
4  1.132332  1.686026       1.698498

In [82]:
std_df.set_index(data_in_df.index, inplace=True)
std_df.head()

          x         y  y_theoretical
0  1.132332  1.686026       1.698498
1  1.132332  1.686026       1.698498
2  1.132332  1.686026       1.698498
3  1.132332  1.686026       1.698498
4  1.132332  1.686026       1.698498

In [83]:
# standardization
standardized_df = (data_in_df - mean_df) / std_df
standardized_df.head()

          x         y  y_theoretical
0 -1.982939 -1.821087      -1.982939
1 -1.803424 -1.841811      -1.803424
2 -1.746574 -1.723068      -1.746574
3 -0.699842 -0.807044      -0.699842
4 -0.557787 -0.865465      -0.557787

To get the results that the StandardScaler gets, the ddof has to be set to 0.

In [84]:
standardized_data_df = pd.DataFrame(index=data_in_df.index, columns=data_in_df.columns)

# scale one column at a time
for cur_col in data_in_df.columns:
    cur_mean = data_in_df[cur_col].mean()
    cur_std = data_in_df[cur_col].std(ddof=0)
    standardized_data_df[cur_col] = (data_in_df[cur_col] - cur_mean) / cur_std
standardized_data_df.head()

          x         y  y_theoretical
0 -2.034453 -1.868396      -2.034453
1 -1.850274 -1.889659      -1.850274
2 -1.791947 -1.767830      -1.791947
3 -0.718022 -0.828010      -0.718022
4 -0.572277 -0.887948      -0.572277