In [31]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
import numpy.linalg as la

In [19]:
data_dict = {'Person Name': ['Mary', 'Alex', 'John'], 
             'Height': [50, 55, 70], 
             'Weight': [70, 65, 160],}
X_df = pd.DataFrame(data_dict)
X_df.set_index('Person Name', inplace=True)
X_df

             Height  Weight
Person Name
Mary             50      70
Alex             55      65
John             70     160

In [20]:
standard_scaler_obj = StandardScaler().fit(X_df)
print(standard_scaler_obj.mean_)
print(standard_scaler_obj.scale_)

[58.33333333 98.33333333]
[ 8.49836586 43.65266951]

In [21]:
X_standardized_array = standard_scaler_obj.transform(X_df)
X_standardized_array

array([[-0.98058068, -0.64906302],
       [-0.39223227, -0.76360355],
       [ 1.37281295,  1.41266656]])

In [24]:
data_covariance = np.cov(X_standardized_array[:, 0], X_standardized_array[:, 1])
data_covariance

array([[1.5       , 1.43764778],
       [1.43764778, 1.5       ]])