In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

#### (a) (10 points) Do natural log transform of the PFOS variable in file $\texttt{pfas.csv}$ and store the results as a new variable log\_PFOS in the data file. Standardize the variables $x$=[log\_PFOS, age, gender, BMI].

In [2]:
# import the data
in_file_name = '../../data/pfas.csv'
data_in_df = pd.read_csv(in_file_name)
data_in_df.head()

   disease       PFOS  age  gender        BMI
0        0  11.741246   36       0  23.557257
1        0   3.721879   61       0  21.576156
2        0   5.870561   53       1  24.717870
3        0  22.399261   31       0  23.274264
4        0   9.348789   43       0  27.621793

In [3]:
# Take the natural log transform of the PFOS variable
data_in_df['log_PFOS'] = np.log(data_in_df['PFOS']) 
data_in_df.head()

   disease       PFOS  age  gender        BMI  log_PFOS
0        0  11.741246   36       0  23.557257  2.463108
1        0   3.721879   61       0  21.576156  1.314229
2        0   5.870561   53       1  24.717870  1.769950
3        0  22.399261   31       0  23.274264  3.109028
4        0   9.348789   43       0  27.621793  2.235247

In [6]:
# Standardize all the variables
data_in_standardized_array = StandardScaler().fit_transform(data_in_df)
data_in_standardized_df = pd.DataFrame(data_in_standardized_array, index=data_in_df.index, columns=data_in_df.columns)
data_in_standardized_df.head()

    disease      PFOS       age    gender       BMI  log_PFOS
0 -1.076231  0.599672 -1.063210 -1.061913 -0.784535  0.903752
1 -1.076231 -0.757007  0.963754 -1.061913 -1.189855 -0.997782
2 -1.076231 -0.393503  0.315125  0.941697 -0.547081 -0.243508
3 -1.076231  2.402746 -1.468603 -1.061913 -0.842433  1.972828
4 -1.076231  0.194927 -0.495660 -1.061913  0.047042  0.526615

#### (35 points) Use $y=\texttt{disease}$ and the standardized $x=\texttt{[PFOS, age, gender, BMI]}$ to write and debug your own gradient descent algorithm for logistic regression. Your algorithm should export the learned parameters in the $\theta$ vector. Note that you can modify the gradient descent algorithm that you have written for the linear regression algorithm to achieve logistic regression.